body {
    /*height: initial;*/
    font-family: Arial;
}
p {
    line-height: 25px;
}
h1 {
    margin-bottom: 5px;
}
h3 {
    margin: 20px 20px 0px 20px;
    font-size: 30px;
    text-decoration: underline #04794c 1px;
    color: black;
    text-transform: uppercase;
}
h4 {
    font-size: 25px;
    text-decoration: underline #04794c;
    margin: 40px 0 0 0;
    text-transform: uppercase;
}
h5 {
    margin: 0;
    font-size: 20px;
}

/* HEADER */
.header {
    background-color: transparent;
    position: relative;
    height: 140px;
    margin-bottom: 100px;
}
#back-img {
    position: absolute;
    max-width: 100%;
    /*display: block;*/
    /*overflow: hidden;*/
    /*max-width: inherit;*/
}
/* Logo */
#logo
{
    width: fit-content;
    max-width: 490px;
    height: 220px;
    background: #99d0ba;
    float: left;
    position: absolute;
    padding-left: 30px;
    padding-right: 30px;
    top: 50%;
    transform: translate(10%, -50%);
    border-radius: 5%;

}

#logo img {
    width: 220px;
    transform: translate(0,10%);
}
#logo h1 {
    height: inherit;
    margin: 0;
}
#logo h1 a{
    text-decoration: none;
    color: white;
    position: relative;
    top: 50%;
    font-size: 40px;
}

#logo h1 a:visited{
    color: white;
}
/* end Logo */

/* navbar */
#navbar {
    /*width: 1000px;*/
    height: inherit;
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
}
#navbar ul {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: inherit;
    margin: 0 20px 0 20px;
    padding: 0;
    list-style: none;
}
#navbar li {
    display: inline;
}
#navbar .navbar-button {
    float: left;
    display: block;
    max-height: 140px;
    height: 80px;
    width: fit-content;
    padding: 60px 20px 0px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    color: white ;
    transition: .5s;
}
.dropdown .navbar-button:after {
    content: '\00A0\25BC';
    font-size: 14px;
}
#navbar .navbar-button:hover {
    background-color: aquamarine;
    box-shadow: 0 2px 5px rgb(24, 62, 47);
    transition: .5s;
    border-radius: 5%;
}
.dropdown {
    float: left;
    overflow: hidden;
}
.dropdown-content {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    width: 190px;
    top: 99%;
    border-radius: 0 0 0 10px;
}
.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 18px;
    display: block;
    text-align: left;
    background-color: rgba(43,43,43,0.73);
}
.dropdown-content a:hover {
    background-color: rgba(38,207,141,0.73);
}
.dropdown:hover .dropdown-content {
    display: block;
}
/* end navbar */
/* search box*/
.search {
    position: absolute;
    top: 45%;
    left: 90%;
    transform: translate(-50%, -50%);
}
.search-button {
    width: 20px;
    height: 20px;
    border: none;
    background-color: transparent;
    padding: 0;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    position: absolute;
}
.search-icon {
    width: 20px;
    height: 20px;
}
/* end search box*/
/* END HEADER */

/* PAGE */
.page {
    /*margin: 100px;*/
    padding: 100px 170px 100px 170px;
    height: fit-content;
    overflow: hidden;
}
.post {
    margin: 50px;
    border-radius: 5px;
}
.post-title {
    font-size: 30px;
    margin-bottom: 0px;
    color: black;
}
.post-info {
    margin-top: 0px;
    font-size: smaller;
    color: rgba(0,0,0,0.5);
}
.post-desc {
    color: rgba(0,0,0,0.5);
}
.see-button {
    width: fit-content;
    height: 40px;
    position: absolute;
    border: none;
    background-color: #33b186;
    color: white;
    font-size: 18px;
    border-radius:5px;
    cursor:pointer;
    padding: 5px;
    text-decoration: none;
}

.see-button:after {
    content: " \21AA";
}
.see-button:hover {
    background-color: aquamarine;
    box-shadow: 0 2px 5px rgb(24, 62, 47);
    transition: .5s;
    border-radius: 5px;
}
hr {
    color: #33b186;
    width: initial;
}
.botton-page {
    width: inherit;
    height: 300px;
    margin: 50px 0 50px 0;
}
.latest-posts {
    position: absolute;
    width: 800px;
    margin: 50px;
    position: absolute;
    padding: 0;

}
.latest-posts li {
    width: 350px;
    list-style: none;
}
.main-post {
    float: left;
    margin: 0 50px 0 0;
    position: relative;
    vertical-align: middle;
    color: black;
}
.main-post a {
    text-decoration: none;
}
.main-post-title {
    font-size: 30px;
    color: black;
    cursor: pointer;
    text-decoration: none;
}
.main-post-title:hover {
    color: #26d08e;
}
.secondary-post-title {
    font-size: 25px;
    cursor: pointer;
    color: black;
}
.secondary-post-title:hover {
    color: #26d08e;
}
.secondary-posts-div a:visited {
    color: black;
}
.secondary-posts-div a {
    color: black;
    text-decoration: none;
}
.secondary-posts-div {
    float: right;
    position: relative;
}
.secondary-post {
    margin: 20px;
}

#index h3 a{
    text-decoration: none;
    color: black;
    margin: 10px;
}

/* gallery */
.gallery {
    margin: 10px;
}
.gallery-photo {
    width: fit-content;
    margin: 23px;
    display: inline-block;
}



.grey-box {
    position: absolute;
    padding: 0;
    margin: 0;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
    color: transparent;
    text-decoration: none;
    border-radius: 10px;
}
.grey-box:hover {
    background-color: rgba(104,113,102,0.77);
    transition: .5s;
    color: white;
}
/* end gallery */
/* astonishing experiences */
.astonishing-experiences {
    display: block;
    min-height: 500px;
    overflow: hidden;

}
.astonishing-experiences .content {
    margin: 10px;
    overflow: hidden;

}
.astonishing-experiences .grey-box {
    width: 340px;
    height: 220px;
}
.astonishing-experiences a {
    text-decoration: none;
}
.astonishing-experiences img {
    width: 100%;
    height: 220px;
    border-radius: 5%;
    margin: 0px 0 20px 0;
}
.exp-post {
    width: 340px;
    display: inline-table;
    margin: 20px 50px 50px 50px;
}
/* end astonishing experiences */
/* END PAGE */

/* FOOTER */
.footer {
    position: relative;
    top: 100%;
    height: 80px;
    padding: 100px;
    background-color: rgba(88,188,77,0.29)

}
/* Resources */
.resources a {
    display: inline-block;
    margin: 10px;
}
/* end Resources */
/* Legal */
.legal {
    float: left;
    position: absolute;
    top: 50%;
    /*transform: translate(0, -50%);*/
}

/*Contact buttons */
.contact-buttons {
    /*float: right;*/
    position: absolute;
    top: 50%;
    left: 85%;
    /*transform: translate(-50%, -50%);*/
}

.contact-buttons ul {
    position: absolute;
    transform: translate(-50%, -50%);
    margin:0;
    padding: 0;
    display: flex;
}
.contact-buttons ul li {
    list-style: none;
    display: inline;
}
.contact-buttons ul li a {
    width: 60px;
    height: 60px;
    display: block;
    text-align: center;
    margin: 0 10px;
    border-radius: 50%;
    padding: 6px;
    box-sizing: border-box;
    text-decoration: none;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 3);
    background: linear-gradient(0deg, #ddd, #fff);
    transition: .5s;
}
.contact-buttons ul li a:hover {
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    text-decoration: none;
}
.contact-buttons ul li a img {
    width: 100%;
    height: 100%;
    display: block;
    background: linear-gradient(0deg, #fff, #ddd);
    border-radius: 50%;
    line-height: 48px;
    font-size: 24px;
    transition: .5s;
    filter: grayscale(100%);

}
.contact-buttons ul li a img:hover {
    filter: grayscale(0%);
    height: 90%;
    width: 90%;

}
/* end Contact buttons */
/* END FOOTER */


/* CONTACT PAGE */
/* Form */
.contact-info {
    margin: 20px;
    display: block;
}
.form-div {
    position: relative;
    margin: 80px 0px 80px 0px;
    width: 900px;
    height: 700px;
    left: 50%;
    transform: translate(-50%);
    display: block;
}

form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: aquamarine;
    border-radius: 10px;
    width: 800px;
    padding: 50px;
}
.form-line {
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
}
.form-input {
    margin: 20px 20px 20px 0;
    padding: 10px 10px 10px 10px;
    border: none;
    border-radius: 4px;
    color: black;
    background-color: transparent;
    outline: 2px solid white;
    width: 100%;
}
.form-div fieldset {
    margin: 20px 0 20px 0;
    border-color: black;
}
.form-other-box {
    display: none;
}
.form-label {
    position: absolute;
    top: 10%;
    left: 5%;
    background-color: #7efdd3;
    color: black;
    font-size: 20px;
}
.form-input:focus {
    outline: 2px solid deeppink;
}
.message-label {
    position: absolute;
    top: 5%;
}
.form-button {
    position: relative;
    left: 50%;
    height: 50px;
    width: 130px;
    font-size: 30px;
    transform: translate(-50%);
    background-color: white;
    border: 2px solid #183e2f;
    border-radius: 4px;
    transition: .5s;
}
.form-button:hover {
    border: 2px solid deeppink;
    color: deeppink;
    cursor: pointer;
    box-shadow: 0 20px 50px rgba(255, 20, 147, 0.3);
}
.form-button:focus {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: transparent;
    color: transparent;
    transition: .5s;
    border-color: deeppink;
}

.check-simbol:after {
    content: '\2714';
    color: deeppink;
    font-size: 35px;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%);
    transition: .10s;
}
/* end Form */
/* END CONTACT PAGE */

/* DESTINATIONS PAGE */
.filter-box {
    margin: 20px 20px 20px 0;
    padding: 10px 10px 10px 10px;
    border: 2px solid black;;
    border-radius: 4px;
    color: black;
    background-color: transparent;
    width: 100%;
}
.filter-box:focus {
    outline: none;
}
.country {
    padding: 20px;
}
.country h3 {
    margin: 0 20px 20px 20px;
}
.destination {
    width: 400px;
    display: inline-block;
    margin: 15px;
}
.country img {
    width: 400px;
    height: 200px;
    border-radius: 10px;
}
.destination .grey-box {
    width: 400px;
    height: 200px;
}
.destination h5 {
    font-size: 20px;
    margin: 10px;
}
.dest-bestTimeVisit {
    overflow: hidden;
}
.dest-bestTimeVisit p {
    position: relative;
    top: 80%;
}
.dest-bestTimeVisit img {
    float: left;
    padding: 40px;
    alignment: center;
}
.dest-getAround {
    overflow: hidden;
}
.dest-getAround img {
    float: right;
    padding: 40px;
}
.dest-relevant {
    overflow: hidden;
}
.dest-* h3 {
    margin-top: 50px;
}
.download-option p {
    text-align: right;
}
.text {
    width: fit-content;
    padding: 20px 0 20px 0;
}
.dest-relevant li {
    padding: 10px;
}
.download-option .see-button {
    left: 80%;
}
/* END DESTINATIONS PAGE */
/* EXPERIENCES PAGE */
.experience {
    display: inline-block;
    padding: 35px;
}
.experience h5 {
    margin: 10px 0 10px 0;
}
.experience img {
    border-radius: 5%;
    width: 350px;
    height: 230px;
}
.exp-part img {
    max-width: 800px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    border-radius: 5px;
}
.exp-part h5 {
    margin-top: 30px;
}
/* END EXPERIENCES PAGE */

/* PAGEMAP */
.sitemap {
    overflow: hidden;
}
.buttons {
    position: relative;
    display: flex;
    width: inherit;
    height: 50px;
    margin: 30px;
}
.buttons button {
    margin: 0 50px 0 0;
    background-color: #33b186;
    color: white;
    font-size: 18px;
    border-radius:5px;
    cursor:pointer;
    padding: 5px;
}
#table-display {
    display:inline-block ;
}
#diagram-display {
    display: none;
}
table {
    border-collapse: collapse;
    border: solid #26d08e;
    text-align: center;
    font-size: 20px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}
table th a{
    font-size: 20px;
    color: black;
    text-decoration: none;
}
table td a {
    color: black;
    text-decoration: none;

}
table tr {
    padding: 10px;
}
table th {
    border-bottom: solid #26d08e;
    border-right: solid #26d08e;
    padding: 10px;
}
table td {
    border-right: solid #26d08e;
    padding-right: 30px;
}
table .child-1 td {
    padding: 60px 60px 10px 60px;
    border-top: solid #26d08e;

}
table .child-2 td {
    /*padding: 20px;*/
    text-align: right;
}
table .last-col {
    border-right: none;
}
table *:hover {
    color: deeppink;
}
table td a:visited {
     color: black;
}

.sitemap .child-1 a:before {
    content: '\25CF';
}
.sitemap .child-2 a:before {
    content: '\25CB';
}
/* end PAGEMAP */
